
 /* @media only screen 
and (max-device-width: 1000px)
{   */
    label {
    display: block;
}
 body {
    background-color: #eee;
 }
.main{
    margin-top: 15%;
    width: 100%;
    height: 100%;
    text-align: center;
    /* position: absolute; */
    /* left: 10%; */
    opacity: 0; 
    display: grid;  
    grid-gap: 5px;  
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-template-rows: repeat(2, 100px);
}


div {
    margin: 7% 0px;
    font-size: 40px;
    font-weight: bold;

}

.diameter,
.k_price,
.mat_lenght,
.order,
.details,
.thick
 {
    background-color: white;
    width: 75%;
    height: 75px;
     font-size: 50px;
}
.selected{
    margin-top: 10%;
    text-align: center;
}
.btn1,
.btn2{
    padding: 7%;
   font-size: 60px ;
   margin: 0%;
   background-color: aqua;
   color:black;
   border: black 4px solid;
   border-radius: 15%;
}
.hidden {
    opacity: 0; 
}
.active{
    opacity: 100; 
}
.output {
    margin-right: 80px;
}
.out {
    padding: 2%;
    display: block;
    text-align: center;
    margin: 2% 25%;
    width: 80%;
    height: 60px;
    color: red ;
    font-size: 30px;
    border: blue 2px solid;
}
.submit{
    text-align: end;
    position: absolute;
    margin-right: 70%;
    width: 80%;
}
.bt1,.bt2
{
    padding: 2%;
    color : red;
    width : 40%;
         font-size: 35px;
     background-color: chartreuse;
     border: 3px  black solid;
     border-radius: 12px;
} 
.type{
    font-size: 120px;
    color: blue;
    text-align: center;
    background-color: yellow;
}
 /* } */
